<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Devops</title>-->
<!--</head>-->
<!--<body>-->
<p style="background-color: yellow;">hello Django</p>
<p style="background-color: blue;">classname</p>
<p style="background-color: blue;">{{classname}},{{books}}</p>
<li>{{ books.0 }}</li>>

<div  color = blue>hello my name is {{ user.name }} </br>
    my age is {{ user.age }}
</div>
{% for user in userlist %}
<li>{{ user.name }} -->{{ user.age }}</li>
{% endfor %}

{% if user %}
<p> name:{{ user.name }} </p>
{% else %}
    用户名不存在
{% endif %}


<!--</body>-->
<!--</html>-->

<!--<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html;charset=UTF- -->
<!--8" />-->
<!--<title>DevOps</title>-->
<!--<head>-->
<!--<body>-->
<!--<p> {{ name }} </p> {#接受视图中的一般变量量值#}-->
<!--<li>{{ books.0 }}</li> {# 接受列表中的值#}-->
<!--<li>{{ books.1 }}</li>-->
<!--<li>{{ books.2 }}</li>-->
<!--{# 接受字典中的定义的值 #}-->
<!--<div color = blue>hello my name is {{ user.name }} </br>-->
<!--my age is {{ user.age }}-->
<!--</div>{# if标签使用，判断user是否存在 #}-->
<!--{% if user %}-->
<!--<p> name:{{ user.name }} </p>-->
<!--{%else%}-->
<!--用户不存在-->
<!--{% endif %}-->
<!--{# for循环标签，渲染books列表 #}-->
<!--{% for book in books %}-->
<!--<li>{{ book }}</li>-->
<!--{% endfor %}-->
<!--{# for循环输出列表嵌套字典数据 #}-->
<!--{% for user in userlist %}-->
<!--<li>{{ user.name }}&ndash;&gt;{{ user.age }}</li>-->
<!--{% endfor %}-->
<!--</body>-->
<!--</html>-->